<table bgcolor="green" width="500" height="500" align="center" valign="middle">
<form action='' method='POST'>{% csrf_token %}
<caption><input type='submit' value='선택'></caption>
	{% if turn == 1 %} <th bgcolor='yellow' colspan='8' rowspan='8' width="50" height="700"></th>
	{% else %} <th bgcolor='white' colspan='8' rowspan='8' width="50" height="700"></th>
	{% endif %}
	
	  <tr>
		<th>{{ route1.20 }}<input type='radio' value='1.0'></th>
		<th>{{ route1.1 }}<input type='radio' value='1.1'></th>	
		<th>{{ route1.2 }}<input type='radio' value='1.2'></th>
		<th></th>
		<th>{{ route1.3 }}<input type='radio' value='1.3'></th>
		<th>{{ route1.4 }}<input type='radio' value='1.4'></th>
		<th>{{ route2.0 }}<input type='radio' value='2.0'></th>
	{% if turn == 2 %} <th bgcolor='yellow' colspan='8' rowspan='8' width="50" height="700"></th>
	{% else %} <th bgcolor='white' colspan='8' rowspan='8' width="50" height="700"></th>
	{% endif %}
	  </tr>
	  
	  <tr>
		<th>{{ route1.19 }}<input type='radio' value='1.19'></th>
		<th>{{ route3.5 }}<input type='radio' value='3.5'></th>
		<th colspan='3'></th>
		<th>{{ route2.1 }}<input type='radio' value='2.1'></th>
		<th>{{ route1.6 }}<input type='radio' value='1.6'></th>
	  </tr>
	  
	  <tr>
		<th>{{ route1.18 }}<input type='radio' value='1.18'></th>
		<th></th>		
		<th>{{ route3.4 }}<input type='radio' value='3.4'></th>
		<th></th>
		<th>{{ route2.2 }}<input type='radio' value='2.2'></th>
		<th></th>
		<th>{{ route1.7 }}<input type='radio' value='1.7'></th>
	  </tr>
	  
	  <tr>
		<th colspan='3'></th>
		<th>{{ route3.3 }}<input type='radio' value='3.3'></th>
		<th colspan='3'></th>
	  </tr>
	  
	  <tr>
		<th>{{ route1.17 }}<input type='radio' value='1.17'></th>
		<th></th>		
		<th>{{ route2.4 }}<input type='radio' value='2.4'></th>
		<th></th>
		<th>{{ route3.2 }}<input type='radio' value='3.2'></th>
		<th></th>
		<th>{{ route1.8 }}<input type='radio' value='1.8'></th>
	  </tr>
	  
	  <tr>
		<th>{{ route1.16 }}<input type='radio' value='1.16'></th>
		<th>{{ route2.5 }}<input type='radio' value='2.5'></th>
		<th colspan='3'></th>
		<th>{{ route3.1 }}<input type='radio' value='3.1'></th>
		<th>{{ route1.9 }}<input type='radio' value='1.9'></th>
	  </tr>

	  <tr>
		<th>{{ route1.15 }}<input type='radio' value='1.15'></th>
		<th>{{ route1.14 }}<input type='radio' value='1.14'></th>
		<th>{{ route1.13 }}<input type='radio' value='1.13'></th>
		<th></th>
		<th>{{ route1.12 }}<input type='radio' value='1.12'></th>
		<th>{{ route1.11 }}<input type='radio' value='1.11'></th>
		<th>{{ route3.0 }}<input type='radio' value='3.0'></th>
	  </tr>
</form>
</table>





